@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font_header {
  font-size: 50px;
  color: #FFC000;
  font-weight: 500;
  font-family: "Kanit", serif;
}

.header {
  width: 100%;
  background-color: #2B3648;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
}
.li{
  list-style-type: none;
}
.ul_header {
  color: white;
  font-family: "Nunito", serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  gap: 30px;
  align-items: center;
} 
.select_header{
  margin-left: 20px;
  width: 50px;
  height: 58px;
  border-radius: 10px;
  background-color: #FFC000;
  color: #2B3648;
}
.main_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap; 
}
.main_page_2{
  width: 700px;
}
.main-slider{
  margin-top: 50px;
}
.main_word {
  font-size: 40px;
  font-weight: 700;
  color: #2B3648;
  font-family: "Nunito", serif;
}

.img_main {
  width: 550px;
  background-color: #fff;
}

.main_span {
  margin-top: 30px;
  font-size: 20px;
  font-family: "Nunito", serif;
  font-size: 20px;
}
.mainimg{
  width: 100%;
   
}
.name_school {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  font-size: 35px;
  color: #2B3648;
  font-family: "Nunito", serif;
  font-weight: 700;
}

.name_school_2 {
  font-weight: 700;
  font-family: "Kanit", serif;
}

.btn_header {
  padding: 20px;
  background-color: #FFC000;
  color: #2B3648;
  font-family: "Nunito", serif;
  font-size: 16px;
  border-radius: 15px;
  font-weight: 600;
  text-decoration: none;
}

.form_register {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
}

.span_register {
  color: #FFC000;
  font-size: 50px;
  font-family: "Nunito", serif;
  font-weight: 700;
}

.register_name {
  font-family: "Nunito", serif;
  font-weight: 600;
  font-size: 40px;
  color: #2B3648;
}

.name_register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  width: 75%;
  height: 550px;
  flex-direction: column;
  padding-left: 20px;
  border-radius: 20px;
  box-shadow: 0px 5px 16px -1px rgba(34, 60, 80, 0.18);
  margin-top: 30px;
}

.register_form {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.input_register {
  width: 97%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid #666f7d;
  margin-top: 20px;
}

.input_register:hover {
  border: 1px solid #FFC000;
}

.label_register {
  margin-top: 20px;
  color: #2B3648;
  font-family: "Nunito", serif;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.btn_register {
  background-color: #FFC000;
  color: #2B3648;
  width: 450px;
  height: 70px;
  border-radius: 20px;
  font-family: "Nunito", serif;
  font-weight: 700;
  font-size: 25px;
}

.public_mane {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.public {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 520px;
  border-radius: 15px;
  padding: 10px;
  transition: all 0.3s ease;
}

.public:hover {
  box-shadow: 0px 5px 16px -1px rgba(17, 30, 40, 0.18);
}

.public_span {
  font-size: 20px;
  font-family: "Nunito", serif;
  font-weight: 700;
}

.img_mane {
  border-radius: 5px;
}

.span_komand {
  display: flex;
  justify-content: center;
  font-family: "Nunito", serif;
  font-weight: 800;
  font-size: 35px;
  color: #2B3648;
}

.komanda {
  margin-top: 100px;
}

.img_komanda {
  border-radius: 10px;
}

.main_komanda {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 60px;
}

.information {
  display: flex;
  justify-content: center;
  font-family: "Kanit", serif;
  color: #FFC000;
  font-size: 45px;
  font-weight: 500;
}

.information_main {
  max-width: 600px;
  display: flex;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.information_2 {
  font-family: "Nunito", serif;
  font-size: 18px;
  font-weight: 600;
  color: #2B3648;
}

.img_location {
  max-width: 480px;
  border-radius: 15px;
  margin-top: 30px;
}

.name_location {
  display: flex;
  justify-content: center;
  margin-top: 140px;
  font-family: "Nunito", serif;
  font-size: 45px;
  font-weight: 800;
  color: #2B3648;
}

.main_location {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 250px;
  margin-top: 30px;
}
.main_location_words{
  display: flex;
  flex-direction: column;
}
.p_location {
  color: #FFC000;
  font-family: "Nunito", serif;
  font-size: 27px;
  font-weight: 700;
}

.span_location {
  color: #2B3648;
  font-family: "Nunito", serif;
  font-size: 20px;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #2B3648;
  margin-top: 100px;
  height: 300px;
}

.h1_footer {
  color: #FFC000;
  font-family: "Kanit", serif;
  font-size: 45px;
  font-weight: 600;
  margin-top: 20px;
}

.btn_footer {
  display: flex;
  justify-content: center;
}

.btn_footer_2 {
  background-color: #FFC000;
  padding: 20px;
  border-radius: 15px;
  font-family: "Nunito", serif;
  color: #2B3648;
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
  text-decoration: none;
}

.span_komoand_2 {
  margin-left: 12px;
  color: #FFC000;
}

.kurs_name {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.main_kurs {
  background-color: #2B3648;
  height: 800px;

}

.kurs_name_h1 {
  font-family: "Nunito", serif;
  font-size: 45px;
  font-weight: 800;
  color: #ffffff;
  margin-top: 50px;
}

.kurs_homepage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

}

.kurs_home {
  margin-top: 50px;
  display: flex;
  border: 1px solid #FFC000;
  width: 350px;
  height: 520px;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  transition: all 0.2s ease;
  margin-bottom: 50px;
  margin-left: 8px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFC000 !important;
}

.kurs_home_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

}

.kurs_home_p {
  font-family: "Nunito", serif;
  color: #FFC000;
  font-size: 27px;
  font-weight: 700;
}

.kurs_span {
  font-family: "Nunito", serif;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 40px;
  padding-bottom: 20px;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}

.icon_footer {
  width: 30px;
  color: #FFC000;
}

.aktion {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.span_aktion {
  font-family: "Nunito", serif;
  font-size: 45px;
  color: #2B3648;
  font-weight: 800;
}

.aktion_div {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 20px;
  width: 65%;
  height: 380px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 23px 0px rgba(34, 60, 80, 0.21);
  margin-top: 40px;
}

.h2_aktion {
  font-family: "Nunito", serif;
  font-size: 28px;
  color: #FFC000;
  font-weight: 600;
}

.span_aktion_2 {
  font-family: "Nunito", serif;
  font-size: 20px;
  color: #2B3648;
}