@media(max-width:930px) {
    .sidebar {
        display: none;
    }

    .main-content {
        width: 100%;
        margin-left: 0%;
    }

    .header {
        width: 97.3%;
    }

    .fimenu {
        display: flex;
    }

    .btn-header {
        display: none;
    }
}

@media(max-width:460px) {
    .logo-name {
        font-size: 20px;
    }

    .btn-header-login {
        background-color: #c9ab00;
        width: 100px;
        height: 35px;
        border-radius: 20px;
        font-size: 10px;
    }
    
    
}
@media(max-width:520px){
    .units-about{
      
        width: 92%;
    }
    .about-us {
            display: flex;
            flex-wrap: wrap;
        }
                .unit-main {
                    display: flex;
                    flex-direction: column;   }
}